
@import 'fonts';
@import 'libs';
@import 'vars';
@import 'bourbon';
@import 'normalize';
@import '../libs/owl.carousel/dist/assets/owl.carousel';
@import 'my-css';
@import '../libs/fancybox/dist/jquery.fancybox';
// @import 'tabs';
// @import 'toggle_menu';
// @import 'burger';
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
a,
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
* {
	margin: 0;
	padding: 0;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
* {
	box-sizing: border-box;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}
html, body {
	margin: 0 auto;
	height: 100%;
}
body {
	margin: 0 auto;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: "ProximaNovaRegular", sans-serif;
}
.v_fix {
	&:after {
		content: '';
		display: inline-block;
		width: 0;
		vertical-align: middle;
		height: 100%;
	}
}
// SECTION_HEADER
.section_header {
	width: 100%;
}
.header_top {
	background-color: #eff0f3;
	font-family: "ProximaNovaRegular", sans-serif;
	font-size: 13px;
}
.container {
	margin: 0 auto;
	width: 1290px;
	height: 100%;
}
.nav_bar {
	display: inline-block;
	vertical-align: middle;
	ul {
		li {
			display: inline-block;
			margin-left: 30px;
			&:first-child {
				margin-left: 0;
			}
			a {
				color: #777777;
				position: relative;
				&:hover {
					color: #333;
					&:after {
						position: absolute;
						content: '';
						display: block;
						top: 27px;
						left: 0;
						width: 100%;
						height: 2px;
						background: #fb2539;
					}
				}
			}
		}
	}
}
.lang {
	margin-left: 95px;
	display: inline-block;
	vertical-align: middle;
	li {
		margin-left: 25px;
		position: relative;
		display: inline-block;
		a {
			color: #777;
		}
		&:hover {
			a {
				color: #333;
			}
			&:after {
				position: absolute;
				content: '';
				display: block;
				top: 30px;
				left: 0;
				width: 100%;
				height: 2px;
				background: #fb2539;
			}
		}
	}
}
.city {
	display: inline-block;
	vertical-align: middle;
	margin-left: 85px;
	color: #777;
	position: relative;
	li {
	}
	a {
		margin-left: 10px;
		padding: 10px 10px 10px 15px;
		border-right: 1px solid #d8d9dc;
		border-left: 1px solid #d8d9dc;
		display: inline-block;
		&:after {
			content: '';
			height: 15px;
			width: 12px;
			display: inline-block;
			margin-left: 8px;
			background: url('../img/header_sprite.png') no-repeat;
			background-position: -15px 2px;
		}
		color: #777;
	}
}
.user {
	display: inline-block;
	vertical-align: middle;
	margin-left: 125px;
	li {
		display: inline-block;
		margin-left: 35px;
		&:first-child {
			margin-left: 0;
		}
	}
}
.btn_login {
	color: #fb2539;
	position: relative;
	&:hover {
		&:after {
			position: absolute;
			content: '';
			display: block;
			top: 27px;
			left: 0;
			width: 100%;
			height: 2px;
			background: #fb2539;
		}
	}
	&:before {
		position: absolute;
		content: '';
		height: 15px;
		width: 12px;
		display: block;
		top: 0;
		left: -20px;
		background: url('../img/header_sprite.png') no-repeat;
		background-position: 0 0;
	}
}
.btn_register {
	color: #777;
	position: relative;
	&:hover {
		color: #333;
		&:after {
			position: absolute;
			content: '';
			display: block;
			top: 27px;
			left: 0;
			width: 100%;
			height: 2px;
			background: #fb2539;
		}
	}
}

.header_main {
	height: 110px;
	background-color: #fff;
	font-family: "ProximaNovaRegular", sans-serif;
}
.logo_wrap {
	background-color: #ffdc2c;
	height: 100%;
	width: 235px;
	text-align: center;
	display: inline-block;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	background: url('../img/logo.png') no-repeat;
	width: 160px;
	height: 58px;
	a {
		display: block;
		height: 100%;
	}
}
.search {
	display: inline-block;
	vertical-align: middle;
	padding-left: 25px;
	form {
    display: inline-block;
    border-radius: 5px;
	}
	input {
			outline:none;
	    border: 1px solid #c2c2c2;
	    width: 350px;
	    height: 44px;
	    border-radius: 22px;
	    padding-left: 15px;
	    font-size: 14px;
	    background: #fff url('../img/icon_search.png') no-repeat;
			background-position: 315px 12px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #999;
				font: 14px 'Source Sans Pro', sans-serif;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: #999;
				font: 14px 'Source Sans Pro', sans-serif;
			}
			&::-ms-input-placeholder { /* IE 10+ */
				color: #999;
				font: 14px 'Source Sans Pro', sans-serif;
			}
			&::-moz-placeholder { /* Firefox 18- */
				color: #999;
				font: 14px 'Source Sans Pro', sans-serif;
			}
	}
}
.phones {
	display: inline-block;
	vertical-align: middle;
	padding-left: 30px;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		height: 15px;
		width: 12px;
		display: block;
		top: 6px;
		right: -25px;
		background: url('../img/header_sprite.png') no-repeat;
		background-position: -15px 0;
	}
	a {
		color: #000;
		font-size: 18px;
		font-weight: bold;
	}
}
.callme {
	display: inline-block;
	vertical-align: middle;
	border: 3px solid #ffdc2c;
	padding: 3px 15px;
	margin: 0 11px 0 35px;
	&:hover {
		border: 3px solid #fb2539;
	}
	a {
		display: block;
		height: 100%;
	}
}
.info-services {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	margin: 0 0 0 35px;
}
.garage {
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.favorites {
	padding-left: 22px;
	display: inline-block;
	text-align: center;
	position: relative;
	cursor: pointer;
	&:before {
		position: absolute;
		display: block;
		font-size: 12px;
		color: #fff;
		line-height: 14px;
		content: '1';
		width: 15px;
		height: 15px;
		top: -5px;
		right: 15px;
		border-radius: 50%;
		background-color: red;
	}
}
.compare {
	padding-left: 22px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.basket {
	padding-left: 18px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.head_nav {
	background: #3c3f43;
	font-family: "ProximaNovaRegular", sans-serif;
}
.nav {
	li {
		padding: 15px 0;
		float: left;
		width: 20%;
		text-align: center;
		border-right: 1px solid #5a5e63;
		&:hover {
			background: #62656a;
		}
		&:first-child {
			background-color: #fb2539;
			width: 235px;
			border-right: none;
			&:first-child:hover {
				background: #ff0018;
			}
		}
		a {
			color: #fff;
			font-size: 16px;
			position: relative;
			display: block;
		}
	}
}

.caption {
	display: inline-block;
	vertical-align: middle;
	padding: 0 70px 0 15px;
	color: #fff;
}
.nav_btn {
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
	background: url('../img/header_sprite.png') no-repeat;
	width: 30px;
	height: 22px;
	background-position: -111px -54px;
	a {
		height: 100%;
	}
}
.nav_info {
	display: inline-block;
	vertical-align: middle;
	li {
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	width: 250px;
	border-right: 1px solid #5a5e63;
		a {
			height: 100%;
			color: #fff;
			text-transform: uppercase;
			font-size: 13px;
		}
	}
}
.promotions {
	position: relative;
	vertical-align: middle;
	content: '';
	margin-right: 10px;
	height: 20px;
	width: 20px;
	display: inline-block;
	background: url('../img/header_sprite.png') no-repeat;
	background-position: -5px -55px;

}
.compare_test {
	position: relative;
	vertical-align: middle;
	content: '';
	height: 20px;
	width: 30px;
	display: inline-block;
	margin-right: 10px;
	background: url('../img/header_sprite.png') no-repeat;
  background-position: -27px -55px;
}
.help_choise {
	position: relative;
	vertical-align: middle;
	content: '';
	height: 23px;
  width: 23px;
  display: inline-block;
	margin-right: 10px;
  background: url(../img/header_sprite.png) no-repeat;
  background-position: -63px -55px;
}
.news {
	position: relative;
	vertical-align: middle;
	content: '';
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-right: 10px;
	background: url(../img/header_sprite.png) no-repeat;
	background-position: -90px -55px;
}
//SECTION_MAIN
.section_main {
  margin-bottom: 70px;
	.product_code {
	background-color: #ffdc2c;
	padding: 10px 10px 10px 20px;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		height: 20px;
		width: 20px;
		background-color: #fff;
		border-radius: 50%;
		top: 13px;
		left: -10px;
	}
}
}
.headline {
	.breadcrumbs {
		width: 100%;
		padding: 20px 0;
		li {
			display: inline-block;
			padding: 0 30px 0 0;
			position: relative;
			&:last-child {
				padding: 0;
				a:after {
					display: none;
				}
			}
			a {
				font-size: 13px;
				color: #999;
				&:hover {
					color: #000;
				}
				&:after {
					content: '';
					width: 5px;
					height: 10px;
					position: absolute;
					top: 9px;
					right: 10px;
					background: url(../img/header_sprite.png) no-repeat;
					background-position: -29px -6px;
				}
			}
		}
	}
}
.product {
	height: 350px;
}
.product_title {
	font-size: 34px;
	color: #333;
	line-height: 40px;
}
.more_photo {
	width: 200px;
}
.photo_item {
	margin: 5px;
	text-align: center;
	float: left;
	width: 65px;
	height: 65px;
	border: 2px solid #e9eaeb;
	&:hover {
		border: 2px solid #fb2539;
	}
	img {
		display: inline-block;
		vertical-align: middle;
	}
}
.active {
	border: 2px solid #ffdc2c;
}
.main_photo {
	display: inline-block;
	margin: 0 60px;
}

.product_options {
	display: inline-block;
}
.options_top {
	margin: 0 0 25px 0;
}
.product_status {
	margin: 0 25px 0 0;
}
.product_rating {
	margin: 0 50px 0 0;
	form {
  width: 90px;
	}
	input[type="radio"] {
	  display: none;
	}

	label {
	  color: grey;
	}

	.clasificacion {
	  direction: rtl;
	  unicode-bidi: bidi-override;
	}

	label:hover,
	label:hover ~ label {
	  color: orange;
	}

	input[type="radio"]:checked ~ label {
	  color: orange;
	}
}
.product_comments {
	margin: 0 50px 0 0;
	position: relative;
	a {
		&:hover:after {
			display: none;
		}
		color: #777;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #777;
			top: 21px;
			left: 1px;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 7px;
		left: -19px;
		width: 14px;
		height: 17px;
		background: url(../img/header_sprite.png) no-repeat;
		background-position: -36px -5px;
	}
}
.product_questions {
	position: relative;
	a {
		color: #777;
		&:hover:after {
			display: none;
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #777;
			top: 21px;
			left: 1px;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 6px;
    left: -20px;
    width: 16px;
    height: 15px;
    background: url(../img/header_sprite.png) no-repeat;
    background-position: -56px -3px;
	}
}
.option_main {
	width: 360px;
	height: 375px;
	background-color: #f7f7f9;
	padding: 10px 30px 20px;
	font-size: 12px;
	margin: 0 25px 0 0;
}
.product_price {
	display: block;
	font-size: 40px;
	color: #999;
	span {
		font-size: 20px;
	}
}
.notify {
	padding: 10px 40px;
	text-align: center;
	border: 2px solid #fb2539;
	font-size: 18px;
	margin: 0 0 15px 0;
	&:hover {
		background-color: #ffdc2c;
		border: 2px solid #ffdc2c;
	}
	a {
		width: 100%;
		height: 100%;
		color: #333;
	}
}
.product_descr {
	margin: 0 0 30px 0;
}
.share {
	position: relative;
	padding: 0 0 0 30px;
	margin: 0 30px 0 0;
	color: #333;
	&:hover {
		color: #fb2539;
	}
	&:before {
		content: '';
    position: absolute;
		top: -4px;
		left: 0px;
		width: 24px;
		height: 23px;
		background: url(../img/header_sprite.png) no-repeat;
		background-position: -71px 0px;
	}
}
.add_compare {
	position: relative;
	padding: 0 0 0 40px;
	color: #333;
	&:hover {
		color: #fb2539;
	}
	&:before {
		content: '';
    position: absolute;
		top: -4px;
		left: 0;
		width: 28px;
		height: 20px;
		background: url(../img/header_sprite.png) no-repeat;
		background-position: -95px 0;
	}
}
.similar_product {
	width: 300px;
	height: 375px;
	border: 1px solid #cfd1d4;
	padding: 40px 60px 30px;
	position: relative;
}
.similar_prod_title {
	font-size: 22px;
	font-weight: bold;
	position: absolute;
	top: -18px;
  left: 50px;
	display: block;
	padding: 0 15px;
	background-color: #fff;
}
.similar_product_img {
	text-align: center;
	width: 100%;
	height: 170px;
	margin: 0 0 10px 0;
}
.similar_product_status {
	padding: 0 0 0 20px;
	color: #57ae85;
	font-size: 13px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 1px;
		left: 0px;
		width: 14px;
		height: 17px;
		background: url(../img/header_sprite.png) no-repeat;
		background-position: -125px -5px;
	}
}
.notavailable {
	color: #fb2539;
	&:before {
		display: none;
	}
}
.similar_product_price {
	font-size: 20px;
	font-weight: bold;
	span {
		font-size: 16px;
	}
}
.similar_prod_bot {
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	bottom: -11px;
	left: 40px;
	display: block;
	padding: 0 15px;
	background-color: #fff;
	a {
		color: #fb2539;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 18px;
			left: 0;
			width: 100%;
			height: 1px;
			background: url('../img/dot.png') repeat-x;
		}
	}
}
.discount {
	position: absolute;
	width: 100px;
	height: 30px;
	background-color: #ff8941;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-family: ProximaNovaBold,sans-serif;
	font-size: 14px;
	z-index: 1;
}
// SECTION RELATED_PRODUCT
.slider_wrap {
	position: relative;
	.product_code {
		position: relative;
		color: #999;
		font-size: 12px;
		font-family: ProximaNovaRegular, sans-serif;
		padding-left: 70px;
		&:before {
			content: 'Код товара:';
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.title_slider {
	line-height: 0;
	position: absolute;
	top: -30px;
	left: 0;
	display: inline-block;
	font-size: 28px;
	color: #000;
	font-family: ProximaNovaRegular,sans-serif;
}
.slider {
	margin: 70px 0 0 0;
}
.slider_item {
	display: inline-block;
	width: 100%;
}
.slider_img {
	height: 225px;
	padding: 0 40px;
}
.owl-nav > div {
  margin-top: -48px;
  margin-right: 15px;
  position: absolute;
  top: 0;
  color: #3c3f43;
}
.owl-nav i {
  font-size: 52px;
}
.owl-prev {
	position: relative;
	width: 45px;
	height: 45px;
  right: 15px;
	background-color: #474a4e;
	&:after {
		position: absolute;
		content: '';
		top: 10px;
		right: 15px;
		width: 11px;
		height: 20px;
		background: url('../img/header_sprite.png') no-repeat;
		background-position: -142px 0;
	}
}
.owl-next {
	position: relative;
	width: 45px;
	height: 45px;
  right: -30px;
	background-color: #3c3f43;
	&:after {
		position: absolute;
		content: '';
		top: 10px;
		right: 15px;
		width: 11px;
		height: 20px;
		background: url('../img/header_sprite.png') no-repeat;
		background-position: -155px 0;
	}
}
.owl-dots {
	display: none;
}
.owl-item {
	margin-top: 20px;
	border: none;
	.similar_product_descr {
		display: inline-block;
		font-size: 15px;
		line-height: 18px;
	}
	.similar_product_price {
		font-size: 30px;
		display: inline-block;
		padding-right: 10px;
	}
	.price_old {
		position: relative;
		display: inline-block;
		top: 5px;
		font-size: 14px;
		color: #ff8941;
		&:after {
			content: '';
			position: absolute;
			top: 12px;
			left: -1px;
			width: 110%;
			height: 1px;
			background-color: #ff8941;
		}
	}
}
// tabs
.section_tabs {
	.similar_product {
		height: 440px;
		width: 320px;
		margin: 135px 0 0 0;
		padding: 40px 40px 40px;
		.similar_product_status {
			padding: 0;
			color: #333;
			&:before {
				display: none;
			}
		}
		.similar_product_descr {
			font-size: 15px;
			color: #999;

		}
		.similar_product_price {
			font-size: 30px;
			color: #999;
			font-family: ProximaNovaBold, sans-serif;
		}
		.notify {
			display: inline-block;
	    padding: 5px 30px;
			font-size: 14px;
			color: #333;
			line-height: 14px;
	    font-family: ProximaNovaBold, sans-serif;
			position: relative;
			&:before {
		    content: '';
		    position: absolute;
		    top: 9px;
		    right: -50px;
		    width: 28px;
		    height: 20px;
		    background: url(../img/header_sprite.png) no-repeat;
		    background-position: -95px 0;
			}
		}
		img {
			max-width: 120px;
		}
		.similar_prod_bot {
			padding: 0;
			position: relative;
			left: 0;
			bottom: 0;
			a {
				color: #333;
				border-bottom: 1px dotted #333;
				&:after {
					display: none;
				}
			}
		}
	}
	.product_comments:before {display: none;}
}
.wrap_tabs {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 68px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #eff0f3;
		z-index: -1;
	}
}
.tabs_title {
	font-size: 20px;
	color: #333;
	font-weight: bold;
	font-family: 'ProximaNovabold',sans-serif;
}
/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	max-width: 970px;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 30px 0 0;
	background: #fff;
}

/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	padding: 20px 0;
	margin:  0 35px;
	text-align: center;
	font-size: 16px;
	font-family: 'ProximaNovabold',sans-serif;
	color: #777;
	&:first-of-type {
		margin-left: 0;
	}
	&:last-of-type {
		margin-right: 0;
	}
}

.tabs>label:hover {
	color: #000;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #fb2539;
	border-bottom: 2px solid #fb2539;
	font-size: 16px;
	font-family: 'ProximaNovabold',sans-serif;
	z-index: 1;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4, #tab5:checked~#content-tab5 {
	display: block;
}
.content_tab {
	width: 50%;
	margin: 0 0 25px 0;
	li {
		font-size: 13px;
		color: #333;
		padding: 10px 25px;
		&:nth-child(2n+1) {
			background-color: #eff0f3;
		}
	}
}
.more_information {
	position: relative;
	font-size: 13px;
	margin-left: 15px;
	border-bottom: 1px solid #c1c1c1;
	display: inline-block;
	color: #333;
	&:before {
		content: '';
		position: absolute;
		bottom: 3px;
		left: -18px;
		width: 14px;
		height: 17px;
		background: url(../img/header_sprite.png) no-repeat;
		background-position: -165px -5px;
		}
}
.main_product_descr {
	color: #333;
	p {
		margin-bottom: 20px;
	}
}
.wrap_description,
.wrap_comments {
	max-width: 970px;
}
#tab {max-width: 970px; position: relative;}
.comment_form {
	position: absolute;
	display: inline-block;
	top: 15px;
	right: 40px;
	padding: 6px 30px;
	background-color: #ffdc2c;
	color: #333;
}
#tab > input {display: none;}
#tab > label {
	float: left;
	cursor: pointer;
	margin: 15px 0 30px 0;
	display: block;
	padding: 5px 40px;
	border: 1px solid #e1e1e1;
}
#tab > input:checked + label {
	border: 1px solid red;
}
#table {clear:both;}
.tab>input:checked+label {
	border: 1px solid #fb2539;
}
#table > ul {
	position: absolute;
	max-width: 970px;
	overflow: hidden;
	display: none;
	.product_rating {
		padding-left: 30px;
	}
}
#reviews:checked ~ #table > ul:nth-of-type(1),
#issues:checked ~ #table > ul:nth-of-type(2)
 {display: block;}
.reviews,
.issues {
	width: 100%;
		padding: 0 40px 0 0;
}
.reviews_item,
.issues_item {
	border-top: 1px solid #ffdc2c;
	border-left: 1px solid #ffdc2c;
	border-right: 1px solid #ffdc2c;
	padding: 30px;
}
.reviews>li:nth-last-of-type(1) {
	border-bottom: 1px solid #ffdc2c;
}
.issues>li:nth-last-of-type(1) {
	border-bottom: 1px solid #ffdc2c;
}
.content {
	width: 80%;
	padding: 0 30px 0 0;
	border-right: 1px solid #e9eaeb;
	font-size: 13px;
	color: #333;
	a {
		color: #333;
		&:after {
			content: '';
	    position: absolute;
	    width: 100%;
	    height: 1px;
	    background-color: #e9eaeb;
	    top: 18px;
	    left: 1px;
		}
		&:hover:after {
			display: none;
		}
	}
}
.author-info {
	font-size: 16px;
	color: 333;
	font-family: 'ProximaNovaBold',sans-serif;

	span {
		font-size: 13px;
		color: #999;
		font-family: 'ProximaNovaRegular',sans-serif;
		padding-left: 20px;
	}
}
.author_text {
	font-size: 13px;
	color: #333;
	font-family: 'ProximaNovaRegular',sans-serif;
	margin-bottom: 15px;
}
.advantages {
	color: #57ae85;
	font-family: 'ProximaNovaBold',sans-serif;
	margin-bottom: 15px;
	span {
		color: #333;
		font-family: 'ProximaNovaRegular',sans-serif;
		padding-left: 10px;
	}
}
.disadvantages {
	color: #f8727e;
	font-family: 'ProximaNovaBold',sans-serif;
	margin-bottom: 15px;
	span {
		color: #333;
		font-family: 'ProximaNovaRegular',sans-serif;
		padding-left: 10px;
	}
}
.content_bot {
	color: #777;
}
.reply {
	position: relative;
	margin: 0 240px 0 35px;
}
.more_answers {
	position: relative;
}
.positive_vote {
	padding-left: 33px;
	position: relative;
	color: #57ae85;
	font-family: 'ProximaNovaBold',sans-serif;
	cursor: pointer;
	&:before {
		content: '';
		top: -3px;
    left: 6px;
		width: 20px;
		height: 20px;
		position: absolute;
		background: url('../img/header_sprite.png') no-repeat;
		background-position: -157px -28px
	}
}
.negative_vote {
	padding-left: 33px;
	position: relative;
	color: #fb2539;
	font-family: 'ProximaNovaBold',sans-serif;
	cursor: pointer;
	&:before {
		content: '';
		top: -3px;
    left: 6px;
		width: 20px;
		height: 20px;;
		position: absolute;
		background: url('../img/header_sprite.png') no-repeat;
		background-position: -179px -28px
	}
}
.product_video {
	width: 100%;
}
.item_product_video {
	margin: 15px;
	text-align: center;
	float: left;
	width: 48%;
	height: 300px;
	border: 2px solid #e9eaeb;
	&:nth-child(2n) {
		margin-left: 0;
	}
	&:nth-child(2n+1) {
		margin-right: 0;
	}
}
.article_slider_wrap {
	position: relative;
	max-width: 930px;
	.title_slider {
		top: 0;
	}
	.owl-nav > div {
	  margin-top: 0;
	  margin-right: 0;
	  position: absolute;
	  color: #3c3f43;
	}
	.owl-prev {
		position: absolute;
		width: 45px;
		height: 120px;
		top: 120px;
		right: 0;
		background-color: #474a4e;
		display: block;
		&:after {
			position: absolute;
			content: '';
			top: 10px;
			right: 15px;
			width: 11px;
			height: 20px;
			background: url('../img/header_sprite.png') no-repeat;
			background-position: -142px 0;
		}
	}
	.owl-next {
		position: absolute;
		width: 45px;
		height: 120px;
		background-color: #3c3f43;
		right: 0;
		display: block;
		&:after {
			position: absolute;
			content: '';
			top: 10px;
			right: 15px;
			width: 11px;
			height: 20px;
			background: url('../img/header_sprite.png') no-repeat;
			background-position: -155px 0;
		}
	}

	.owl-item {
		margin-left: 0;
	}
}
.slider_article {
	width: 930px;
	.article_item {
		margin-left: 0;
		width: 680px;
		border: 1px solid #000;
	}
}
.article_img {
	width: 310px;
	height: 230px;
	background-size: contain;
	img {
		overflow: hidden;
		-webkit-background-size: cover;
		height: 100%;
	}
}
.article_content {
	padding: 30px;
	width: 360px;
	height: 100%;
}
.article_date {
	color: #999;
	font-size: 12px;
	font-family: 'ProximaNovaRegular',sans-serif;
}

.article_title {
  line-height: 26px;
	color: #333;
	font-size: 20px;
	font-family: 'ProximaNovaBold',sans-serif;
}
